<!-- the top banner, notice how I filled src using Angular binding -->
<div class="outWide" style="justify-content:center; width:100%; overflow:hidden;">
  <img src={{banner}} alt="Snow" style="width:100%;">
</div>
<!-- first card -->
<div class="container">
  <mat-card class= "text-center" style= "margin:10px">
    <h1 class="text-center">
      FortBoard
    </h1>
    Your source for up-to-date Fortnite leaderboards and user information. <br>
    Please click on a name in the table to see the full capabilities of the application. <br>
    Inspect the console to see where my get requests were sent to.


  </mat-card>      
</div>

